<ion-header>
  <ion-toolbar>
    <ion-title>Info/Tips!</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Welcome to Daily Hydrate!</h1>
<ion-button color="tertiary" expand="full" (click)="gotoAbout()">Hydration Info/Tips!</ion-button>
<h3>Health benefits of water</h3>
<p>Water is your body's principal chemical component and makes up about 60% of your body weight. Your body depends on water to survive</p>
<p>Every cell, tissue and organ in your body needs water to work properly. For example, water;</p>
<ul>
  <li>Gets ride of wastes through urination, perspiration and bowel movement</li>
  <li>Keeps your temperature normal</li>
  <li>Lubricates and cushions joints</li>
  <li>Protects sensitive tissues</li>
</ul>
<p> Lack of water can lead to dehydration -- a condition that occurs when you don't have enough water in your body to carry out normal function. 
  Even mild dehydration can drain your energy and make you tired.</p>
  <p>(Source: Mayo Clinic Staff)</p>
<ion-button color="primary" expand="full" (click)="gotoHome()">View Your Progress</ion-button>
</ion-content>




